@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto&display=swap');

body {
    /* background-color: #4EFD4D; */
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom right, #71FF4F, #7095FA);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

img {
  height: 100px;
  width: 100px;
}

a {
  color: black;
  text-decoration: none;
}

.titleScreen {
  float: none;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.btn {
  border-radius: 10px;
  background-color: #4EFD4D;
  border-style: hidden;
  /* border-style: solid 10px;
  border-color: #707070; */
  text-align: center;
  padding: 15px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
}

.btnPosition {
  display: flex;
  justify-content: center;
}