@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto&display=swap');

body {
    /*background-color: #4EFD4D;*/
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom right, #71FF4F, #7095FA);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1 {
    font-family: 'Nunito', sans-serif;
}